.main-container{
    margin: 20px;
}
.cards{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    text-align: center;
    gap: 20px;
   background-color: rgba(128, 128, 128, 0.399);
   border-radius: 10px;
}