.container {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
  border-bottom: solid black;
}

.part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  gap: 10px;
}
.part2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.part2 button {
  border-radius: 5px;
  background-color: red;
  border: none;
  height: 25px;
  width: 25px;
  color: white;
}
